<footer class="w-full py-12">
  <div
    class="container mx-auto max-w-7xl px-8 flex flex-col md:flex-row items-center justify-between"
  >
    <nav class="flex items-center sm:flex">
      <ul class="flex items-center gap-4">
        <li class="font-msans text-lg">
          <a href={`./blog.html`}>Blog</a>
        </li>
        <li class="font-msans text-lg">
          <a href={`./reading-list.html`}>Reading</a>
        </li>
        <li class="font-msans text-lg">
          <a href={`./projects.html`}>Projects</a>
        </li>
      </ul>
    </nav>
    <span class="text-sm text-on-surface/70 italic"
      >No JS frameworks were harmed in the making of this website <span
        class="not-italic">😜</span
      ></span
    >
  </div>
</footer>
